$font-family-base: 'Open Sans', sans-serif;
$grid-columns: 24;
$grid-gutter-width-base: 0;
$bg-black: #27292e;
$bg-grey: #35363b;
$color-main: #07cb79;
$color-grey: #84898e;
$color-grey-light: #d4d4d5;
$color-sep-dark: #47494c;
$font_path: '~assets/fonts/';
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;
